.page-header {
    background-color: #ff9400;
    margin: 0;
    padding: 20px 20px 20px 40px;
}

.page-header a {
    text-decoration: none;
    color: #000
}

.menu{
    padding-top: 8px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.content{
    margin-top: 10px;
    padding: 0;
}

.post{
    margin-left: 35px;
}

.post-name a, .post-name a:hover {
    color: #1c1c1c;
    text-decoration: none;
}

.post-image img{
    width: 100%;
}